@charset "UTF-8";

#contents_sub{
	width: 900px;
	height: auto;
	margin: auto;
	padding-top: 30px;
}

.login_area{
	width: 750px;
	height: 205px;
	background: url(../img/login_bg.png) no-repeat;
	margin: 80px auto;
	padding: 20px 70px;
	
}

.sub_title{
	background: url(../img/sub_title.png) no-repeat;
	text-indent: -9999px;
}

.person_login{
	float: left;
	width: 290px;
}
.group_login{
	float: right;
	width: 290px;
}

.login{
	padding: 15px 0;
}

h1.tit02{
	width: 132px;
	height: 30px;
	background-position: 0 -50px;
}
h2.title02{
	width: 290px;
	height: 75px;
	background-position: 0 -160px;
}
h2.title01{
	width: 290px;
	height: 75px;
	background-position: 0 -80px;
}

.login .input_area p label{
	display: inline-block;
	width: 55px;
	background: url(../img/bult.png) no-repeat 0 -72px;
	padding-left: 10px;
}
.login .input_area p{
	padding: 3px 0;
}
.login .input_area p:first-child{
	padding-top: 0;
}
.login .input_area p input{
	width: 110px;
	border: 1px solid #ccc;
	height: 14px;
	padding: 5px;
	border-radius: 3px; /* 모서리 깎기 */
}
.login .input_area{
	float: left;
	width: 202px;
}
.login_search{
	margin-top: 10px;
	border-top: 2px solid #efefef;
	padding: 10px 0;
	position: relative;
}
/****** 버튼부분 ***********/
.btnArea_right{
	float: right;
}

.b_login{ /* 로그인 버튼 */
	width: 86px;
	height: 56px;
	background-position: 0 0;
}
.b_search{/* 아이디 비번찾기 버튼 */
	width: 156px;
	height: 27px;
	background-position: -100px 0;
	position: absolute;
	right: 0;
	top: 3px;
}






